
html{
    font-size: 22px;
}

body{
    color: whitesmoke;
    background-color: #333;
}

header h1{
    text-align: center;
}

a{
    color: #ddd;
}

a:hover {
    color:#eee;
}

table,thead,caption,tbody,th,td,tr{
    border: 2px solid #aaa;
    border-collapse: collapse;
    padding: 1rem;
}